apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-management
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-management
  template:
    metadata:
      labels:
        app: user-management
    spec:
      containers:
        - name: user-management
          image: vikram0dharajiya/usermanagement:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
